body {
    background-image: url('https://i.pinimg.com/736x/c3/68/56/c36856fc6361fa6de85716291c74c5cb.jpg') !important; 
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

.main-content {
    background: transparent !important;
}